body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: wheat;
}
#headContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: ivory;
  color: black;
  padding-left: 50px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
}

#nav ul {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}
#routeSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
.selectorContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: bolder;
  background-color: wheat;

}
.table-container {
    display: flex;           /* Enable Flexbox on the container */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically (optional) */
           /* Full viewport height (optional) */
  }
#listStyles{
    font-size: 20px;
    font-weight: bold;
}
table {
    width: 80%;
    border-collapse: collapse;
   justify-content: center;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}